@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root {
    --salmao: #cc4343;
    --marrom-claro: #c98a65;
    --branco-cinza: #ddd9d9;
    --laranja: #ff5e00;
    --cinza: #857777;
    --preto: #000000;
    --font-titulo: "Dekko", cursive, monospace;
    --font-texto: "Dekko", cursive, serif;
}

body{
background-color: rgb(224, 111, 111);
color: var(--branco-cinza);
font-family: var(--font-texto);
align-items: center;

}

.conteudo-titulo{
font-family: var(--font-titulo);
font-size: 50px;
color: #ffffff;
border-color: #000000;
}

.img-cadeado{
    width: 10%;
}

.conteudo-senha{
    background-color: var(--marrom-claro);
    padding: 24px;
    border-bottom: 6px solid var(--branco-cinza);
    color: var(--preto);
}

#campo-senha{
 background-color: var(--cinza);
 border: none;
 color:black;
 font-family: var(--font-texto);
 font-size: 40px;
}

#conteudo-senha:focus{
    outline: none;
}

.conteudo{
    max-width: 1000px;
    margin: 0 auto;
}

.titulo-principal{
    font-family: var(--font-titulo);
}